
@font-face {
font-family: "Lobster";
src: url("fonts/Lobster.ttf");
}

@font-face{
  font-family: "Lato";
  src: url("fonts/Lato.ttf");
}

h1{
  text-align: center;
  font-size: 4em;
  font-family: Lobster;
  color: #FF6544;
}

section {
  font-family: Lato;
}

section#search{
  text-align: center;
}

section#search input{
  width: 250px;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
}

section#search input:focus, textarea:focus{
  outline:none;
}

section#search #buttons{
  padding-top: 10px;
}

#buttons button{
  width: 100px;
  height: 25px;
  background: #FF6544;
  color: white;
}

#container{
  margin-top: 20px;
}

#container img{
  width: 50px;
  height: 50px;
}

#container .resultCard{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding-left: 20px;
}

#container .resultCard a{
  color: #FF6544;
}

#container .resultCard:nth-child(even){
  background-color: #F7F9F9;
}

#container .resultCard:nth-child(1n+2){
  border-top: none;
}

#container .resultCard:last-child{
  border-bottom: none;
}

@media only screen and (max-width:800px){

  h1{
    font-size: 3em;
  }

  #container .resultCard{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 0;
  }
}













/* TODO: Style the buttons*/
/* TODO: Style the placeholder text*/
/* TODO: Style the spans in snippets to bold */
/* TODO: Expand search box on focus */
/* TODO: Display "X" when search bar in focus*/
/* TODO: Style for smallest devices first*/
/* TODO: Add media-queries for desktops*/
