
@font-face {
font-family: "Lobster";
src: url("fonts/Lobster.ttf");
}

@font-face{
  font-family: "Lato";
  src: url("fonts/Lato.ttf");
}

button{
  display:inline-block;
}

h1{
  text-align: center;
  font-size: 4em;
  font-family: Lobster;
}

section#search{
  text-align: center;
}

section {
  font-family: Lato;
}






















/* TODO: Style for smallest devices first*/
/* TODO: Style the spans in snippets to bold */
/* TODO: Expand search box on focus */
/* TODO: Display "X" when search bar in focus*/
/* TODO: Add media-queries for desktops*/
